@media only screen and (max-width: 1200px) and (min-width: 992px){
.slide-text {
    left: 0;
    top: 5%;
}
.prdct_bx_img img {
    height: 240px;
}
}
@media only screen and (max-width: 991px) and (min-width: 768px){
.slide-text {
    left: 0;
    top: 15%;
}
.top_bar_left ul li {
    font-size: 12px;
    padding-right: 4px;
    margin-right: 4px;
}
.top_bar_in {
    padding: 0% 0%;
}
.top_bar_right ul {
    display: inline-block;
    vertical-align: middle;
}
div#google_translate_element {
    float: none;
    display: inline-block;
}
.logo_area_in {
    padding: 0% 0%;
}
.logo_area_center {
    padding: 0px 0px 0px 10px;
}
.logo_area_right {
    padding: 2px 0px 0px;
}
.logo_area_center button {
    height: 38px;
    font-size: 17px;
    font-weight: 400;
}
.logo_area_center input[type=text], .logo_area_center input[type=search] {
    height: 38px;
    font-size: 16px;
}
.nav_area_in {
    padding: 0% 0%;
}
.nav_area .navbar-default .navbar-nav>li>a {
    font-size: 16px;
    padding: 18px 14px 18px 14px;
}
.my_heading p {
    padding: 0% 16%;
}
.prdct_bx_img img {
    height: 180px;
}
}
@media only screen and (max-width: 767px) and (min-width: 300px){
.top_bar_left {
    text-align: center;
    padding: 0px 0px 0px;
}
.top_bar_left ul li {
    display: block;
    font-size: 14px;
    padding-right: 0;
    margin-right: 0;
    border-right: none;
}
.top_bar_right {
    text-align: center;
    padding-top: 6px;
}
.logo_area_left h1 {
    font-size: 28px;
    text-align: center;
}
.logo_area {
    padding: 5px 0px;
}
.logo_area_right {
    text-align: center;
}
.navbar-toggle {
    background-color: #7300ab;
    border: 1px solid #7300ab !important;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #7300ab;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #fff !important;
}
.nav_area .navbar-default .navbar-nav>li>a {
    padding: 5px 25px 5px 10px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.top_bar_left ul li:nth-last-child(1) {
    border-right: none;
}
.logo_area_left {
    text-align: center;
}
.logo_area_left img {
    width: 260px;
}
.logo_area_center {
    padding: 10px 0px 0px 0px;
}
.logo_area_center input[type=text], .logo_area_center input[type=search] {
    border-radius: 2px;
    height: 35px;
    font-size: 14px;
    font-weight: 400;
}
.logo_area_center button {
    border-radius: 0px 2px 2px 0px;
    height: 36px;
    font-size: 14px;
    font-weight: 400;
}
.my_heading {
    padding: 5px 0px;
}
.my_heading h1 {
    font-size: 24px;
}
.my_heading p {
    font-size: 16px;
    font-weight: 400;
    padding: 0% 3%;
    line-height: 16px;
}
.prdct_bx_img img {
    height: auto;
}
.populr_prdct_area {
    padding: 12px 0px 3px;
}
.footer {
    padding: 10px 0px 10px;
}
ul.ftr_socail {
    margin: 10px 0px 10px;
}
.footer_bx h1 {
    font-size: 22px;
    margin: 7px 0px 13px;
}
.quiz_game_area_in_brdr {
    padding: 0px 0px 20px;
}
.quiz_game_area_in_que h1 {
    font-size: 22px;
    line-height: 21px;
    padding: 3px 8px;
    margin: 0px 0px 10px;
}
.quiz_game_area_in_optn .col-xs-6 {
    padding: 4px;
}
.option_box {
    border: 2px solid #f1f1f1;
    box-shadow: 0px 3px 5px 0px #ffbdd0;
    border-radius: 4px;
}
.option_box img {
    width: 100%;
    height: 125px;
    border-radius: 4px;
}
.option_box:hover {
    border: 2px solid #7300ab;
}
.contact_form_area_left input[type=text], .contact_form_area_left input[type=email] {
    height: 35px;
    margin-bottom: 5px;
    font-size: 15px;
}
.contact_us_area {
    padding: 10px 0px 10px;
}
.contact_form_area_left {
    padding: 10px 0px 0px;
}
.contact_form_area_left button {
    font-size: 16px;
    padding: 9px 23px;
}
.contact_form_area_left textarea {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 15px;
}
.contact_form_area_right {
    padding-left: 0;
    padding-top: 10px;
}
.contact_form_area_right ul li {
    font-size: 16px;
    padding: 6px 0px 6px;
}
}

